header {
  background-color: white;
  padding: 7px;
}
header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
header section .SimpleCTA,
header section .CTAButton {
  font-size: 20px;
}
header section .CTAButton {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 5px 40px;
}
@media (max-width: 786px) {
  header {
    display: none;
  }
}
nav {
  background-color: #232f3e;
  color: white;
  padding: 12px;
}
nav .row {
  display: flex;
  align-items: center;
  height: 39px;
}
nav .row .col-l {
  width: 15%;
}
@media (max-width: 786px) {
  nav .row .col-l {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
}
nav .row .col-c {
  width: 50%;
}
@media (max-width: 786px) {
  nav .row .col-c {
    width: 100%;
    justify-content: center;
  }
}
nav .row .col-r {
  width: 35%;
  text-align: right;
}
@media (max-width: 786px) {
  nav .row .col-r {
    display: none;
  }
}
nav .row .big-text {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}
@media (max-width: 633px) {
  nav .row .big-text {
    margin-bottom: 15px;
  }
}
@media (max-width: 633px) {
  nav .row {
    flex-direction: column;
    height: 90px;
    margin: 15px 0;
  }
}
.search {
  display: flex;
  height: 100%;
  color: black;
}
.search .search-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
  border-right: 1px solid #cdcdcd;
  border-radius: 5px 0 0 5px;
  background-color: #f3f3f3;
}
.search .search-center {
  text-align: right;
  width: 84%;
  height: 100%;
  background-color: white;
}
.search .search-center input {
  border-style: solid;
  border: 0;
  width: 98%;
  height: 100%;
  font-size: 18px;
}
.search .search-center input:focus {
  outline: none;
}
.search .search-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: #febd69;
}
.tagline {
  font-size: 24px;
  color: #cccccc;
}
.tagline span {
  font-weight: bold;
  font-size: 28px;
  color: #2894f3;
}
.menu {
  display: flex;
}
.menu .menu-item {
  font-size: 13px;
  margin-right: 15px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
.menu .menu-item i {
  padding-right: 5px;
}
@media (max-width: 633px) {
  .menu .menu-item {
    margin: 0 5px;
  }
}
.menu .menu-item:hover {
  text-decoration: underline;
}
.menu .divider {
  height: 22px;
  border-left: 1px solid white;
  margin: 0 15px 0 2px;
}
@media (max-width: 633px) {
  .menu {
    margin: 35px 0 0 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
.localStore {
  display: flex;
}
.localStore i {
  font-size: 30px;
}
.localStore div {
  margin-left: 5px;
}
.localStore div .small-text {
  font-size: 13px;
}
.checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 15px 0;
  margin: 0 15px;
}
.checkout input {
  width: 30px;
}
.checkout .buyNow {
  width: 90%;
  border-radius: 3px;
  margin: 10px;
  color: black;
  background-color: #f5d586;
  border: 1px solid #a38a51;
  padding: 5px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout .addToCart {
  width: 90%;
  border-radius: 3px;
  margin: 10px;
  color: black;
  background-color: #eca14b;
  border: 1px solid #a87235;
  padding: 5px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout .qty {
  display: flex;
  width: 90%;
  margin: 10px;
}
.checkout .shipping {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.checkout hr {
  border-bottom: 1px solid #cdcdcd;
  width: 90%;
}
.productDescription {
  padding: 15px;
}
.productDescription .stars {
  color: #ffba01;
}
.productDescription .reviews {
  display: flex;
  justify-content: space-between;
}
.productDescription .small-text {
  font-size: 13px;
  margin: 0 0 5px 0;
}
.productDescription .productName {
  font-size: 23px;
  margin: 0;
}
.productDescription .dashed {
  text-decoration: line-through;
}
.productDescription .savings {
  color: #B12704;
}
footer {
  color: #fff;
}
footer section {
  display: flex;
  justify-content: center;
  background-color: #37475a;
  padding: 15px;
}
footer .bottomMenu {
  background-color: #232f3e;
}
main {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .banner {
  width: 100%;
}
main .banner img {
  max-width: 100%;
  max-height: 100%;
}
main .banner #mobileIMG {
  display: none;
}
main .banner #desktopIMG {
  display: block;
}
@media (max-width: 633px) {
  main .banner #mobileIMG {
    display: block;
  }
  main .banner #desktopIMG {
    display: none;
  }
}
main .sec-3 {
  width: 23%;
  padding: 15px 0;
}
main .sec-3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  height: 100%;
}
main .sec-3 .container .productName {
  margin: 0 0 10px 0;
  align-self: flex-start;
  font-weight: bold;
  font-size: 21px;
}
main .sec-3 .container img {
  width: 100%;
  height: auto;
}
main .sec-3 .container .productImg {
  width: 100%;
  height: 100%;
}
main .sec-3 .container .productContent {
  display: flex;
  justify-content: space-between;
}
main .sec-3 .container .productContent .left {
  width: 35%;
}
main .sec-3 .container .productContent .left p {
  margin: 0 0 20px 0;
}
main .sec-3 .container .productContent .left .button {
  display: flex;
  justify-content: center;
  color: black;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 40px;
}
@media (max-width: 633px) {
  main .sec-3 .container .productContent .left {
    width: 100%;
  }
}
main .sec-3 .container .productContent .right {
  width: 60%;
}
@media (max-width: 633px) {
  main .sec-3 .container .productContent .right {
    width: 100%;
  }
}
@media (max-width: 633px) {
  main .sec-3 .container .productContent {
    flex-wrap: wrap;
  }
}
main .sec-3 .container hr {
  width: 100%;
}
@media (max-width: 633px) {
  main .sec-3 {
    flex-wrap: wrap;
    margin: 0 10px;
  }
}
@media (max-width: 786px) {
  main .sec-3 {
    width: 100%;
  }
}
main .sec-4 {
  width: 35%;
  padding: 15px 0;
}
main .sec-4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  height: 100%;
}
main .sec-4 .container .productName {
  margin: 0 0 10px 0;
  align-self: flex-start;
  font-weight: bold;
  font-size: 21px;
}
main .sec-4 .container img {
  width: 100%;
  height: auto;
}
main .sec-4 .container .productImg {
  width: 100%;
  height: 100%;
}
main .sec-4 .container .productContent {
  display: flex;
  justify-content: space-between;
}
main .sec-4 .container .productContent .left {
  width: 35%;
}
main .sec-4 .container .productContent .left p {
  margin: 0 0 20px 0;
}
main .sec-4 .container .productContent .left .button {
  display: flex;
  justify-content: center;
  color: black;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 40px;
}
@media (max-width: 633px) {
  main .sec-4 .container .productContent .left {
    width: 100%;
  }
}
main .sec-4 .container .productContent .right {
  width: 60%;
}
@media (max-width: 633px) {
  main .sec-4 .container .productContent .right {
    width: 100%;
  }
}
@media (max-width: 633px) {
  main .sec-4 .container .productContent {
    flex-wrap: wrap;
  }
}
main .sec-4 .container hr {
  width: 100%;
}
@media (max-width: 633px) {
  main .sec-4 {
    flex-wrap: wrap;
    margin: 0 10px;
  }
}
@media (max-width: 786px) {
  main .sec-4 {
    width: 100%;
  }
}
main .sec-5 {
  width: 42%;
  padding: 15px 0;
}
main .sec-5 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  height: 100%;
}
main .sec-5 .container .productName {
  margin: 0 0 10px 0;
  align-self: flex-start;
  font-weight: bold;
  font-size: 21px;
}
main .sec-5 .container img {
  width: 100%;
  height: auto;
}
main .sec-5 .container .productImg {
  width: 100%;
  height: 100%;
}
main .sec-5 .container .productContent {
  display: flex;
  justify-content: space-between;
}
main .sec-5 .container .productContent .left {
  width: 35%;
}
main .sec-5 .container .productContent .left p {
  margin: 0 0 20px 0;
}
main .sec-5 .container .productContent .left .button {
  display: flex;
  justify-content: center;
  color: black;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 40px;
}
@media (max-width: 633px) {
  main .sec-5 .container .productContent .left {
    width: 100%;
  }
}
main .sec-5 .container .productContent .right {
  width: 60%;
}
@media (max-width: 633px) {
  main .sec-5 .container .productContent .right {
    width: 100%;
  }
}
@media (max-width: 633px) {
  main .sec-5 .container .productContent {
    flex-wrap: wrap;
  }
}
main .sec-5 .container hr {
  width: 100%;
}
@media (max-width: 633px) {
  main .sec-5 {
    flex-wrap: wrap;
    margin: 0 10px;
  }
}
@media (max-width: 786px) {
  main .sec-5 {
    width: 100%;
  }
}
main .sec-6 {
  width: 47.7%;
  padding: 15px 0;
}
main .sec-6 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 15px;
  height: 100%;
}
main .sec-6 .container .productName {
  margin: 0 0 10px 0;
  align-self: flex-start;
  font-weight: bold;
  font-size: 21px;
}
main .sec-6 .container img {
  width: 100%;
  height: auto;
}
main .sec-6 .container .productImg {
  width: 100%;
  height: 100%;
}
main .sec-6 .container .productContent {
  display: flex;
  justify-content: space-between;
}
main .sec-6 .container .productContent .left {
  width: 35%;
}
main .sec-6 .container .productContent .left p {
  margin: 0 0 20px 0;
}
main .sec-6 .container .productContent .left .button {
  display: flex;
  justify-content: center;
  color: black;
  background-color: white;
  border: 1px solid grey;
  padding: 5px 40px;
}
@media (max-width: 633px) {
  main .sec-6 .container .productContent .left {
    width: 100%;
  }
}
main .sec-6 .container .productContent .right {
  width: 60%;
}
@media (max-width: 633px) {
  main .sec-6 .container .productContent .right {
    width: 100%;
  }
}
@media (max-width: 633px) {
  main .sec-6 .container .productContent {
    flex-wrap: wrap;
  }
}
main .sec-6 .container hr {
  width: 100%;
}
@media (max-width: 633px) {
  main .sec-6 {
    flex-wrap: wrap;
    margin: 0 10px;
  }
}
@media (max-width: 786px) {
  main .sec-6 {
    width: 100%;
  }
}
.quickLinks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-center;
}
.quickLinks .linkContainer {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 25px;
  border-radius: 3px;
  flex-direction: column;
  color: black;
  background-color: #f2fafb;
  border: 1px solid none;
  padding: 5px 40px;
}
.quickLinks .linkContainer i {
  font-size: 40px;
}
.quickLinks .linkContainer .linkText {
  margin: 5px 0 0 0;
  font-size: 13px;
}
@media (max-width: 786px) {
  .quickLinks .linkContainer {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}
body {
  margin: 0;
  background-color: #232f3e;
}
body .coloredBackground {
  background-color: #eaeded;
}
a {
  text-decoration: none;
  color: inherit;
}
.align-bottom {
  display: flex !important;
  align-items: flex-end !important;
}
